<activity android:name="com.hsbc.mobilebanking.app2app.deeplinking.DeepLinkingNavigationActivity">
    <intent-filter android:label="HSBC CMA App2App">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:scheme="@string/deep_linking_scheme_https"
            android:host="@string/deep_linking_host"
            android:pathPrefix="/open-banking/authorize/" />
Not sure if we need this end point /open-banking/authorize without version number?
        <data
            android:scheme="@string/deep_linking_scheme_https"
            android:host="@string/deep_linking_host_prod"
            android:pathPrefix="/open-banking/v*.*/authorize" />
    </intent-filter>

    <intent-filter android:autoVerify="true"
                   tools:targetApi="M">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:scheme="@string/deep_linking_scheme_https"
            android:host="@string/deep_linking_host_prod"
            android:pathPrefix="/open-banking/v*.*/authorize" />
    </intent-filter>
</activity>
